body{
    width:180px; 
    background: white; 
    font-family: "Avenir Next", Calibri, Verdana, sans-serif;
}

#popup-content-heading {
    margin-top: 0em;
    border-top:0em;
    padding-top: 0em;
    margin-bottom: 0.5em;
    text-align: left;
    font-size: 1.7em;
    font-weight: normal;
}

.hidden {
    display:none; 
}

button[name="filterButton"] {
    margin: 3% auto; 
    padding: 4px; 
    padding-top: 0em;
    margin-top: 0em;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    color:rgb(255, 255, 255); 
    background-color: black;
    font-size: 1.3em;
    cursor: pointer;
}

button[name="filterButton"]:hover{
    background-color: rgb(105, 105, 105); 
}

.dyslexiaButton {
    margin: 3% auto; 
    margin-top: 0em;
    padding: 4px; 
    padding-top: 0em;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    color:rgb(255, 255, 255); 
    background-color: black;
    font-size: 1.3em;
    cursor: pointer;
}

.dyslexiaButton:hover {
    background-color: rgb(63, 62, 62); 
}

button[value="normal"] {
    margin: 3% auto; 
    padding: 4px; 
    border-radius: 5px;
    border: 0px;
    text-align: center;
    color:rgb(255, 255, 255); 
    background-color: rgb(75, 54, 192);
    font-size: 1.1em;
    cursor: pointer;
}

button[value="normal"]:hover{
    background-color: lightcoral;
}

