html, body{
    width:250px; 
}

.hidden {
    display:none; 
}

.button {
    margin: 3% auto; 
    padding: 4px; 
    text-align: center;
    color:white; 
    font-size: 1.5em;
    cursor: pointer;
}

.filter:hover{
    background-color: grey; 
}

.filter{
    background-color: black;
}

.reset {
    background-color: black;
}

.reset:hover{
    background-color: grey;
}


